# Overview

From some outside research, we come to know that the author of the data set, **Professor Dean De Cock**, obtained the dataset directly from the City Assessor's Office in Iowa. 

He removed any variables that required special knowledge or previous calculations for use in the project scenario. Of the 80 variables that remained, they were all directly related to property sales in one way or another. 

He highlights a variables that might be of special interest to us, `PID`. 
`PID` is the Parcel Identification Number assigned to each property within the Ames Assessor’s system. This number can be used in conjunction with [the Assessor’s Office](http://www.cityofames.org/assessor/) website to directly view the records of a particular observation. The typical record will indicate the values for characteristics commonly quoted on most home flyers and will include a picture of the property.

This may be useful as we proceed with the preliminary data cleaning on this data set.
Additionally the [Data Dictionary](http://jse.amstat.org/v19n3/decock/DataDocumentation.txt) for this dataset will surely be useful when cleaning the data.

# Problem Statement: 

A team of data scientists, which I am a part of, have been hired by an interior design and renovation firm. They are based in Ames, Iowa, and they have a dataset pertaining to properties there. 

They have a few home owners who have come to them, seeking their help in renovating their home and reselling it at a profit. The firm's aim is to featch the most attractive price possible for their potential clients, and present a plan to them on how they would go about it. However they are unsure what are some of the steps they could take to achieve this.

We hope to provide recommendations on how this firm can go about this, at the end of the analysis and modeling process.

### Quick Links:

1. [Importing](#Importing)
2. [Exploring the Data](#Exploring-the-data)
3. [Tackling Missing Data](#Tackling-missing-data)
    - [`Lot Frontage`](#Tackling-Lot-Frontage)
    - [`Alley`](#Tackling-Alley)
    - [`Mas Vnr Type`](#Tackling-Mas-Vnr-Type)
    - [`Basement` variables](#Tackling-Basement-variables)
    - [`Fireplace Qu`](#Tackling-Fireplace-Qu)
    - [`Garage` variables](#Tackling-Garage-variables)
    - [`Pool QC`](#Tackling-Pool-QC)
    - [`Fence`](#Tackling-Fence)
    - [`Misc Feature`](#Tackling-Misc-Feature)
4. [Additional Columns](#Adding-additional-columns:)
5. [Cleaning `Test` data](#Cleaning-Test-data)
6. [Final Check](#Final-Check-before-moving-on-to-Encoding-and-EDA)

## Importing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error

## Exploring the data
Now let's start by taking a look at our train data set. Whatever cleaning we perform on our train dataset, we will apply to our test data set at the end.

In [2]:
# reading in training data
df = pd.read_csv('../project_2/datasets/train.csv') 
# reading in Ames true data
test = pd.read_csv('./datasets/test.csv')

In [3]:
# setting display options in pandas for ease of viewability.
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Heating,Heating QC,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,Sawyer,RRAe,Norm,1Fam,2Story,6,8,1976,2005,Gable,CompShg,HdBoard,Plywood,BrkFace,289.0,Gd,TA,CBlock,TA,TA,No,GLQ,533.0,Unf,0.0,192.0,725.0,GasA,Ex,Y,SBrkr,725,754,0,1479,0.0,0.0,2,1,3,1,Gd,6,Typ,0,NaN,Attchd,1976.0,RFn,2.0,475.0,TA,TA,Y,0,44,0,0,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,SawyerW,Norm,Norm,1Fam,2Story,7,5,1996,1997,Gable,CompShg,VinylSd,VinylSd,BrkFace,132.0,Gd,TA,PConc,Gd,TA,No,GLQ,637.0,Unf,0.0,276.0,913.0,GasA,Ex,Y,SBrkr,913,1209,0,2122,1.0,0.0,2,1,4,1,Gd,8,Typ,1,TA,Attchd,1997.0,RFn,2.0,559.0,TA,TA,Y,0,74,0,0,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,5,7,1953,2007,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,Gd,CBlock,TA,TA,No,GLQ,731.0,Unf,0.0,326.0,1057.0,GasA,TA,Y,SBrkr,1057,0,0,1057,1.0,0.0,1,0,3,1,Gd,5,Typ,0,NaN,Detchd,1953.0,Unf,1.0,246.0,TA,TA,Y,0,52,0,0,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Timber,Norm,Norm,1Fam,2Story,5,5,2006,2007,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,PConc,Gd,TA,No,Unf,0.0,Unf,0.0,384.0,384.0,GasA,Gd,Y,SBrkr,744,700,0,1444,0.0,0.0,2,1,3,1,TA,7,Typ,0,NaN,BuiltIn,2007.0,Fin,2.0,400.0,TA,TA,Y,100,0,0,0,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,SawyerW,Norm,Norm,1Fam,1.5Fin,6,8,1900,1993,Gable,CompShg,Wd Sdng,Plywood,None,0.0,TA,TA,PConc,Fa,Gd,No,Unf,0.0,Unf,0.0,676.0,676.0,GasA,TA,Y,SBrkr,831,614,0,1445,0.0,0.0,2,0,3,1,TA,6,Typ,0,NaN,Detchd,1957.0,Unf,2.0,484.0,TA,TA,N,0,59,0,0,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [4]:
df.shape

(2051, 81)

Let us first find out how many null values we have in our dataset.

In [5]:
df.isnull().sum()

Id                    0
PID                   0
MS SubClass           0
MS Zoning             0
Lot Frontage        330
Lot Area              0
Street                0
Alley              1911
Lot Shape             0
Land Contour          0
Utilities             0
Lot Config            0
Land Slope            0
Neighborhood          0
Condition 1           0
Condition 2           0
Bldg Type             0
House Style           0
Overall Qual          0
Overall Cond          0
Year Built            0
Year Remod/Add        0
Roof Style            0
Roof Matl             0
Exterior 1st          0
Exterior 2nd          0
Mas Vnr Type         22
Mas Vnr Area         22
Exter Qual            0
Exter Cond            0
Foundation            0
Bsmt Qual            55
Bsmt Cond            55
Bsmt Exposure        58
BsmtFin Type 1       55
BsmtFin SF 1          1
BsmtFin Type 2       56
BsmtFin SF 2          1
Bsmt Unf SF           1
Total Bsmt SF         1
Heating               0
Heating QC            0
Central Air           0
Electrical            0
1st Flr SF            0
2nd Flr SF            0
Low Qual Fin SF       0
Gr Liv Area           0
Bsmt Full Bath        2
Bsmt Half Bath        2
Full Bath             0
Half Bath             0
Bedroom AbvGr         0
Kitchen AbvGr         0
Kitchen Qual          0
TotRms AbvGrd         0
Functional            0
Fireplaces            0
Fireplace Qu       1000
Garage Type         113
Garage Yr Blt       114
Garage Finish       114
Garage Cars           1
Garage Area           1
Garage Qual         114
Garage Cond         114
Paved Drive           0
Wood Deck SF          0
Open Porch SF         0
Enclosed Porch        0
3Ssn Porch            0
Screen Porch          0
Pool Area             0
Pool QC            2042
Fence              1651
Misc Feature       1986
Misc Val              0
Mo Sold               0
Yr Sold               0
Sale Type             0
SalePrice             0
dtype: int64

We have identified quite a few null values in out dataset, some with an alarming number, considering our entire data set has 2051 rows.

In [6]:
# creating a custom function to return null series
# considering I will have to call this null series 
# repeatedly until dataset is clean, this is easier.
def check_nulls(data):
    """function accepts a dataframe. 
    Returns a series with the column name and the 
    number of null values in it."""
    
    null_series = df.isnull().sum()
    null_series = null_series[null_series>0]
    return null_series

## Tackling missing data

In [7]:
check_nulls(df).sum()

9822

Observations:
>There seems to be a different number of null values for the basement values in one of the above cell's output. This is something we would need to look at closer when we address these columns.
---

### Tackling `Lot Frontage`

In [8]:
# First let us take a look at Null values in 'Lot Frontage' along with other null values if any 
# in other 'Lot' columns.
lot_cols = df.filter(like='Lot').columns.tolist()
lot_cols.insert(0,'PID')
df.loc[df['Lot Frontage'].isnull(), lot_cols]

            PID  Lot Frontage  Lot Area Lot Shape Lot Config
0     533352170           NaN     13517       IR1    CulDSac
7     535154050           NaN     12160       IR1     Inside
8     535353130           NaN     15783       Reg     Inside
23    527165230           NaN      7980       IR1     Inside
27    909277040           NaN     11700       IR1     Inside
...         ...           ...       ...       ...        ...
2016  532376110           NaN      7791       IR1     Inside
2022  909475020           NaN     16381       IR1     Inside
2028  534127190           NaN     20781       IR2    CulDSac
2031  527402250           NaN     12537       IR1    CulDSac
2047  905377130           NaN     12342       IR1     Inside

[330 rows x 5 columns]

In [9]:
# Additional sanity check to ensure that only Lot Frontage has null values.
df[df.filter(like='Lot').columns].isnull().sum()

Lot Frontage    330
Lot Area          0
Lot Shape         0
Lot Config        0
dtype: int64

**A few points to consider:**
1. There are 330 rows in `Lot Frontage` that have null values. This is 16% of the data we have available to us. As such it would not be possible to just drop these rows, nor is it reasonably possible to perform deductive imputation using the value of `zero`. 
    - Upon checking a few of the values against the [Ames Beacon Website](https://beacon.schneidercorp.com/Application.aspx?AppID=165&LayerID=2145&PageTypeID=2&PageID=1104&Q=1145956946) using the PID, we were not able to find any additional information about the Lot Frontage values.
2. To keep things simple, we will use the mean `Lot Frontage` in each `Neighborhood`, and apply that to the corresponding null value in that `Neighborhood`.
3. Failing that, we will use the first 4 digits of the `PID` which refers to the county, and township, as stated by this [reference](http://www.berriencounty.org/396/How-to-Read-a-Property-Number) and the below image.
![](./Images/PID-Number.jpg)

*The below function is used once only, however as imputing these values may be a complicated process, I felt that creating a function will be better. Additionally, I refer back to this function when I am repeating the steps taken on the train set over to the test set.*

In [10]:
def generage_lot_frontage_mean(row):
    """Input required is a row of a DataFrame.
    Meant to be used in the '.apply' method with axis=1."""
    # check if current row value is null
    if np.isnan(row['Lot Frontage']):
        
        # get the neighborhood for current row
        r_neighborhood = row['Neighborhood']
        
        #get the mean for current row in current neighborhood
        r_neighborhood_mean = round(df.loc[df['Neighborhood'] == r_neighborhood, 'Lot Frontage'].mean(),0)
        
        # if there are no reference values for the current
        # neighborhood, the mean will be NaN. Hence the 
        # if else statement.
        
        if np.isnan(r_neighborhood_mean):
            # get PID of current row
            r_pid = row['PID']
            
            # use REGEX to search for all county and townships
            # to take mean across that instead.
            search_term = '^'+str(r_pid)[0:4]+'.+'
            
            # search for and get mean 
            row['Lot Frontage'] = round(df.loc[df['PID'].astype(str).str.contains(fr'\b{search_term}\b'),'Lot Frontage'].mean(),0)
            
        else:
            # if original method of calculating mean not NaN,
            # then just set value.
            row['Lot Frontage'] = r_neighborhood_mean
    return row

In [11]:
df = df.apply(generage_lot_frontage_mean, axis=1)

With this the `Lot Frontage` null values are taken care of.

---

### Tackling `Alley`

In [12]:
check_nulls(df)

Alley             1911
Mas Vnr Type        22
Mas Vnr Area        22
Bsmt Qual           55
Bsmt Cond           55
Bsmt Exposure       58
BsmtFin Type 1      55
BsmtFin SF 1         1
BsmtFin Type 2      56
BsmtFin SF 2         1
Bsmt Unf SF          1
Total Bsmt SF        1
Bsmt Full Bath       2
Bsmt Half Bath       2
Fireplace Qu      1000
Garage Type        113
Garage Yr Blt      114
Garage Finish      114
Garage Cars          1
Garage Area          1
Garage Qual        114
Garage Cond        114
Pool QC           2042
Fence             1651
Misc Feature      1986
dtype: int64

From the data dictionary, we can see that the NA values refers to 'no alley access'.
As such we can deduce that the null values correspond to the NA values.

In [13]:
# Sanity check to ensure other values correspond to data dictionary.
df['Alley'].value_counts()

Grvl    85
Pave    55
Name: Alley, dtype: int64

In [14]:
# Replacment of null values with 'no alley access.'

df['Alley'].fillna('no alley access', inplace=True)
df['Alley'].isnull().sum() # sanity check to ensure all values are addressed.

0

---

### Tackling `Mas Vnr Type`

In [15]:
check_nulls(df)

Mas Vnr Type        22
Mas Vnr Area        22
Bsmt Qual           55
Bsmt Cond           55
Bsmt Exposure       58
BsmtFin Type 1      55
BsmtFin SF 1         1
BsmtFin Type 2      56
BsmtFin SF 2         1
Bsmt Unf SF          1
Total Bsmt SF        1
Bsmt Full Bath       2
Bsmt Half Bath       2
Fireplace Qu      1000
Garage Type        113
Garage Yr Blt      114
Garage Finish      114
Garage Cars          1
Garage Area          1
Garage Qual        114
Garage Cond        114
Pool QC           2042
Fence             1651
Misc Feature      1986
dtype: int64

In [16]:
mas_vnr_null = df.loc[((df['Mas Vnr Type'].isnull()) & 
              (df['Mas Vnr Area'].isnull())), 
             ['Mas Vnr Type', 'Mas Vnr Area']]

print(mas_vnr_null)
print(f'\nEach of the columns have {len(mas_vnr_null)} values')

     Mas Vnr Type  Mas Vnr Area
22            NaN           NaN
41            NaN           NaN
86            NaN           NaN
212           NaN           NaN
276           NaN           NaN
338           NaN           NaN
431           NaN           NaN
451           NaN           NaN
591           NaN           NaN
844           NaN           NaN
913           NaN           NaN
939           NaN           NaN
1025          NaN           NaN
1244          NaN           NaN
1306          NaN           NaN
1430          NaN           NaN
1434          NaN           NaN
1606          NaN           NaN
1699          NaN           NaN
1815          NaN           NaN
1820          NaN           NaN
1941          NaN           NaN

Each of the columns have 22 values

The null values of 'Mas Vnr Type', and 'Mas Vnr Area', are matching up. This suggests that both these values are 'None' and zero respectively. We will make this change below.

In [17]:
df['Mas Vnr Type'].fillna('None', inplace=True)
df['Mas Vnr Area'].fillna(0, inplace=True)

# sanity check to ensure all values are replaced.
df.loc[((df['Mas Vnr Type'].isnull()) 
        & (df['Mas Vnr Area'].isnull())), 
        ['Mas Vnr Type', 'Mas Vnr Area']]

Empty DataFrame
Columns: [Mas Vnr Type, Mas Vnr Area]
Index: []

---

### Tackling `Basement` variables

In [18]:
check_nulls(df)

Bsmt Qual           55
Bsmt Cond           55
Bsmt Exposure       58
BsmtFin Type 1      55
BsmtFin SF 1         1
BsmtFin Type 2      56
BsmtFin SF 2         1
Bsmt Unf SF          1
Total Bsmt SF        1
Bsmt Full Bath       2
Bsmt Half Bath       2
Fireplace Qu      1000
Garage Type        113
Garage Yr Blt      114
Garage Finish      114
Garage Cars          1
Garage Area          1
Garage Qual        114
Garage Cond        114
Pool QC           2042
Fence             1651
Misc Feature      1986
dtype: int64

There are quite a few variables which are `Bsmt` related. To ensure we see the full picture, let us address them all at the same time as much as possible.

In [19]:
# multiple masks to ensure that all rows with null values in the Basement columns are captured.
bsmt_qual_null = df['Bsmt Qual'].isnull()
bsmt_cond_null = df['Bsmt Cond'].isnull()
bsmt_exposure_null = df['Bsmt Exposure'].isnull()
bsmtfin_type1_null = df['BsmtFin Type 1'].isnull()
bsmtfin_sf1_null = df['BsmtFin SF 1'].isnull()
bsmtfin_type2_null = df['BsmtFin Type 2'].isnull()
bsmtfin_sf2_null = df['BsmtFin SF 2'].isnull()
bsmt_unf_sf_null = df['Bsmt Unf SF'].isnull()
total_bsmt_sf_null = df['Total Bsmt SF'].isnull()
bsmt_full_bath_null = df['Bsmt Full Bath'].isnull()
bsmt_half_bath_null = df['Bsmt Half Bath'].isnull()

# getting list of all 'Bsmt' columns
bsmt_cols = df.filter(like='Bsmt').columns.tolist()

df.loc[(bsmt_qual_null |
        bsmt_cond_null | 
        bsmt_exposure_null | 
        bsmtfin_type1_null | 
        bsmtfin_sf1_null |
        bsmtfin_type2_null |
        bsmtfin_sf2_null | 
        bsmt_unf_sf_null | 
        total_bsmt_sf_null | 
        bsmt_full_bath_null |
        bsmt_half_bath_null),
       bsmt_cols]

,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Bsmt Full Bath,Bsmt Half Bath
12,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
93,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
114,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
146,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
183,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
240,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
249,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
256,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
390,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
437,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
485,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
499,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
514,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
580,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
581,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
616,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN
635,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
642,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
696,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
700,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
737,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
772,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
790,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
794,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
924,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
933,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
954,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1007,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1022,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1049,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1089,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1098,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1125,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1147,Gd,TA,No,GLQ,1124.0,NaN,479.0,1603.0,3206.0,1.0,0.0
1157,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1211,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1222,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1252,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1256,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1270,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1331,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1377,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1387,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1428,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1456,Gd,TA,NaN,Unf,0.0,Unf,0.0,725.0,725.0,0.0,0.0
1481,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1547,Gd,TA,NaN,Unf,0.0,Unf,0.0,1595.0,1595.0,0.0,0.0
1594,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1620,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1681,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1684,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1686,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1859,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1875,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1889,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1933,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1997,Gd,TA,NaN,Unf,0.0,Unf,0.0,936.0,936.0,0.0,0.0
2010,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0

In the 59 rows above, we can see that there are a few discrepancies where the values don't seem to add up.
> Let us zoom into those specific rows where something seems amiss.
> From the above table, we can see that the discrepancy occurs when `Bsmt Qual` is not null, but `Bsmt Exposure` and `BsmtFin Type 2` are null.

In [20]:
bsmt_qual_not_null = df['Bsmt Qual'].notnull()
bsmt_cols.insert(0, 'PID')
df.loc[(bsmt_qual_not_null) &
        (bsmt_exposure_null | bsmtfin_type2_null),
       bsmt_cols]

,PID,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Bsmt Full Bath,Bsmt Half Bath
1147,528142130,Gd,TA,No,GLQ,1124.0,NaN,479.0,1603.0,3206.0,1.0,0.0
1456,528458090,Gd,TA,NaN,Unf,0.0,Unf,0.0,725.0,725.0,0.0,0.0
1547,528445060,Gd,TA,NaN,Unf,0.0,Unf,0.0,1595.0,1595.0,0.0,0.0
1997,907194130,Gd,TA,NaN,Unf,0.0,Unf,0.0,936.0,936.0,0.0,0.0

As we can clearly see in the table above, we have some conflicting values here. Some columns state that there is no basement, while other columns, state for the same property, that there is in fact a basement with varying degrees of qualiter etc.

There are 2 possible scenarios here.
1. There is in fact a basement, meaning 'Bsmt Exposure' and/or 'BsmtFin Type 2' have been input incorrectly. 
2. There is in fact NO basement, meaning the other columns have been input incorrectly. 

Yet again, we attempted to search for the `PID`s on [this website](https://beacon.schneidercorp.com/Application.aspx?AppID=165&LayerID=2145&PageTypeID=2&PageID=1104), however we were unable to correctly locate them.

The dilema here is that, either case requires a large assumption on our part, as we will be editing the data and making assumptions on the value of the data, going beyond deductive imputation. 
**As such, we will drop these rows to avoid this dilema.**

In [21]:
bsmt_rows_to_drop = df.loc[(bsmt_qual_not_null) &
                            (bsmt_exposure_null | 
                             bsmtfin_type2_null), 
                            bsmt_cols].index

df.drop(index=bsmt_rows_to_drop, inplace=True)

In [22]:
# now we can address the null values for these columns.
# we will change all null values to reflect 'No Basement' as that is most likely.

df['Bsmt Qual'].fillna('No Basement', inplace=True)
df['Bsmt Cond'].fillna('No Basement', inplace=True)
df['Bsmt Exposure'].fillna('No Basement', inplace=True)
df['BsmtFin Type 1'].fillna('No Basement', inplace=True)
df['BsmtFin SF 1'].fillna(0, inplace=True)
df['BsmtFin Type 2'].fillna('No Basement', inplace=True)
df['BsmtFin SF 2'].fillna(0, inplace=True)
df['Bsmt Unf SF'].fillna(0, inplace=True)
df['Total Bsmt SF'].fillna(0, inplace=True)
df['Bsmt Full Bath'].fillna(0, inplace=True)
df['Bsmt Half Bath'].fillna(0, inplace=True)

In [23]:
df[bsmt_cols].isnull().sum() 
# sanity check to ensure all values are addressed.

PID               0
Bsmt Qual         0
Bsmt Cond         0
Bsmt Exposure     0
BsmtFin Type 1    0
BsmtFin SF 1      0
BsmtFin Type 2    0
BsmtFin SF 2      0
Bsmt Unf SF       0
Total Bsmt SF     0
Bsmt Full Bath    0
Bsmt Half Bath    0
dtype: int64

---

### Tackling `Fireplace Qu`

In [24]:
check_nulls(df)

Fireplace Qu      999
Garage Type       113
Garage Yr Blt     114
Garage Finish     114
Garage Cars         1
Garage Area         1
Garage Qual       114
Garage Cond       114
Pool QC          2038
Fence            1647
Misc Feature     1982
dtype: int64

In [25]:
df['Fireplace Qu'].value_counts()

Gd    521
TA    406
Fa     59
Po     31
Ex     31
Name: Fireplace Qu, dtype: int64

In [26]:
df.loc[df['Fireplace Qu'].isnull(), 'Fireplaces'].value_counts()

0    999
Name: Fireplaces, dtype: int64

In [27]:
df['Fireplace Qu'].isnull().sum()

999

Since all the null values for 'Fireplace Qu' correspond with the value of 0 'Fireplaces'.
It seems most likely that for 'Fireplace Qu', null values would most likely represent 'No Fireplace'

In [28]:
df['Fireplace Qu'].fillna('No Fireplace', inplace=True)
df['Fireplace Qu'].isnull().sum() # sanity check to ensure all values are addressed.

0

---

### Tackling `Garage` variables

In [29]:
null_series = df.isnull().sum()
null_series = null_series[null_series>0]
null_series

Garage Type       113
Garage Yr Blt     114
Garage Finish     114
Garage Cars         1
Garage Area         1
Garage Qual       114
Garage Cond       114
Pool QC          2038
Fence            1647
Misc Feature     1982
dtype: int64

There are quite a few variables which are `Garage` related. To ensure we see the full picture, let us address them all at the same time as much as possible.

In [30]:
# multiple filters to ensure that all rows with null values in the Basement columns are captured.
garage_type_null = df['Garage Type'].isnull()
garage_yr_blt_null = df['Garage Yr Blt'].isnull()
garage_finish_null = df['Garage Finish'].isnull()
garage_cars_null = df['Garage Cars'].isnull()
garge_area_null = df['Garage Area'].isnull()
garage_qal_null = df['Garage Qual'].isnull()
garage_cond_null = df['Garage Cond'].isnull()

# getting list of all 'Garage' columns
garage_cols = df.filter(like='Garage').columns

df.loc[(garage_type_null |
        garage_yr_blt_null | 
        garage_finish_null | 
        garage_cars_null |
        garge_area_null |
        garage_qal_null | 
        garage_cond_null),
       garage_cols]

,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond
28,NaN,NaN,NaN,0.0,0.0,NaN,NaN
53,NaN,NaN,NaN,0.0,0.0,NaN,NaN
65,NaN,NaN,NaN,0.0,0.0,NaN,NaN
79,NaN,NaN,NaN,0.0,0.0,NaN,NaN
101,NaN,NaN,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...
1991,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2010,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2027,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2039,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2042,NaN,NaN,NaN,0.0,0.0,NaN,NaN

From `null_series`, we know that we have 113 null values for `Garage Type` while we have 114 null values for `Garage Yr Blt`, `Garage Finish`, `Garage Qual` and `Garage Cond`. 
Let us investigate this row.

In [31]:
df.loc[garage_yr_blt_null & (df['Garage Type'].notnull()), garage_cols]

,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond
1712,Detchd,NaN,NaN,NaN,NaN,NaN,NaN

Here we see some conflicting values. Given that all other values are null suggesting that there is in fact `No Garage` in this property, we will change the value for `Garage Type` at index 1712. 
We will also change all remaining values for the other `Garage` variables to 'No Garage' for the categorical variables and zero for the numerical ones.

In [32]:
df.loc[1712, 'Garage Type'] = 'No Garage'

In [33]:
df.loc[(garage_type_null |
        garage_yr_blt_null | 
        garage_finish_null | 
        garage_cars_null |
        garge_area_null |
        garage_qal_null | 
        garage_cond_null),
       garage_cols]

,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond
28,NaN,NaN,NaN,0.0,0.0,NaN,NaN
53,NaN,NaN,NaN,0.0,0.0,NaN,NaN
65,NaN,NaN,NaN,0.0,0.0,NaN,NaN
79,NaN,NaN,NaN,0.0,0.0,NaN,NaN
101,NaN,NaN,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...
1991,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2010,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2027,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2039,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2042,NaN,NaN,NaN,0.0,0.0,NaN,NaN

In [34]:
df['Garage Type'].fillna('No Garage', inplace=True)
df['Garage Yr Blt'].fillna(0, inplace=True) 
# this is imputed as zero for now because adding text here will change the entire columns dtype.

df['Garage Finish'].fillna('No Garage', inplace=True)
df['Garage Cars'].fillna(0, inplace=True)
df['Garage Area'].fillna(0, inplace=True)
df['Garage Qual'].fillna('No Garage', inplace=True)
df['Garage Cond'].fillna('No Garage', inplace=True)

In [35]:
df[garage_cols].isnull().sum() 
# sanity check to ensure all values are addressed.

Garage Type      0
Garage Yr Blt    0
Garage Finish    0
Garage Cars      0
Garage Area      0
Garage Qual      0
Garage Cond      0
dtype: int64

---

### Tackling `Pool QC`

In [36]:
check_nulls(df)

Pool QC         2038
Fence           1647
Misc Feature    1982
dtype: int64

In [37]:
df.loc[df['Pool QC'].isnull(), 'Pool Area'].value_counts()

0    2038
Name: Pool Area, dtype: int64

Even thought there is a large number of null values, as the null values in `Pool QC` correspond with the value of zero square feet of `Pool Area`. It seems most likely that the null values in `Pool QC` are cases where the property has 'No Pool'. We will change these values.

In [38]:
# changing na values in 'Pool QC' to 'No Pool'.

df['Pool QC'].fillna('No Pool', inplace=True)

df['Pool QC'].isnull().sum() 
# sanity check to ensure all values are addressed.

0

---

### Tackling `Fence`

In [39]:
check_nulls(df)

Fence           1647
Misc Feature    1982
dtype: int64

In [40]:
df['Fence'].value_counts()

MnPrv    227
GdPrv     83
GdWo      80
MnWw      10
Name: Fence, dtype: int64

It seems most likely that for `Fence`, null values would most likely represent 'No Fence'

In [41]:
# changing na values in 'Fence' to 'No Fence'.

df['Fence'].fillna('No Fence', inplace=True)

df['Fence'].isnull().sum() 
# sanity check to ensure all values are addressed.

0

---

### Tackling `Misc Feature`

In [42]:
check_nulls(df)

Misc Feature    1982
dtype: int64

In [43]:
df.loc[df['Misc Feature'].isnull(), 'Misc Val'].value_counts()

0    1982
Name: Misc Val, dtype: int64

As the null values in `Misc Feature` correspond with the value of zero square feet of `Misc Val`. It seems most likely that the null values in `Misc Feature` are cases where the property has 'None' miscellaneous features. We will change these values.

In [44]:
# changing na values in 'Misc Feature' to 'None'.

df['Misc Feature'].fillna('None', inplace=True)

df['Misc Feature'].isnull().sum()
# sanity check to ensure all values are addressed.

0

## Adding additional columns:
In order for the `Year Remod/Add`, `Year Built`, and `Garage Yr Blt` Columns to make the most sense, we would need to create an age column.

Let's change the `Year Sold` column to `Age Sold` instead. The age of the property at the time of the sale.
Additionally we will change the `Year Remod/Add` to `Age Remod/Add`. 
This will be done as shown below:

- `Year Sold` - `Year Built` = `Age Sold`
- `Year Remod/Add` - `Year Built` = `Age Remod/Add`

For properties with Garages:
- `Garage Yr Blt` - `Year Built` = `Age Garage Blt`
(Later we will ensure this columns meaningfulness via encoding)

Lastly, we will add a column just called `Age` which refers to the age of the property as per year of creation of the dataset.
As this dataset was created in 2011, we will calculate it as per below:
- `Age` = 2011 - `Year Built`

Before doing this, let's check through the `Year Remod/Add` column once. As per its definition, the `Year Remod/add` values should be greater than or equal to the `Year Built` values.

In [45]:
df.loc[df['Year Remod/Add'] < df['Year Built'], ['Year Built','Year Remod/Add', 'Yr Sold']]

      Year Built  Year Remod/Add  Yr Sold
1003        2002            2001     2009

from the above table, it is a reasonable assumption that this is a typo, as the property cannot be remodled to or added to before the original construction! We will change this value to match with the `Year Built` column.

In [46]:
df.loc[1003, 'Year Remod/Add'] = int(2002)

df.loc[1003, 'Year Remod/Add'] 
# sanity check to ensure value is changed.

2002

In [47]:
df.loc[(df['Garage Yr Blt'] !=0) & 
       (df['Garage Yr Blt'] < df['Year Built']), 
       ['Year Built','Garage Yr Blt', 'Yr Sold']]

      Year Built  Garage Yr Blt  Yr Sold
72          1959         1954.0     2006
77          1927         1920.0     2008
336         1935         1920.0     2009
493         1935         1926.0     2009
533         1941         1940.0     2009
902         2006         2005.0     2007
1076        1923         1922.0     2008
1686        1950         1949.0     2006
1716        1930         1925.0     2008
1907        1963         1962.0     2008
1964        2006         2005.0     2007

For the values of `Garage Yr Blt` that are less than the original construction date, it does not make sense. It would only make sense if the values were the same. As such we will change the values in the `Garage Yr Blt` column to match those of the `Year Built` column for the rows in the table above.

In [48]:
index_change_garage = df.loc[(df['Garage Yr Blt'] !=0) & 
                       (df['Garage Yr Blt'] < df['Year Built']), 
                       ['Year Built','Garage Yr Blt', 'Yr Sold']].index.tolist()

for idx in index_change_garage:
    df.loc[idx, 'Garage Yr Blt'] = df.loc[idx, 'Year Built']

In [49]:
df['Age Sold'] = df['Yr Sold'] - df['Year Built']
df['Age Remod/Add'] = df['Year Remod/Add'] - df['Year Built']
df['Age Garage Blt'] = df['Garage Yr Blt'] - df['Year Built']
df['Age'] = 2011 - df['Year Built']

# There will be some values in the 'Age Garage Blt' that will be negative. 
# Let's set those to zero.
df.loc[df[df['Age Garage Blt'] < 0].index.tolist(),'Age Garage Blt'] = 0

In [50]:
df[df['Age Sold']<0]

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Heating,Heating QC,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,Age Sold,Age Remod/Add,Age Garage Blt,Age
1885,2181,908154195,20,RL,128.0,39290,Pave,no alley access,IR1,Bnk,AllPub,Inside,Gtl,Edwards,Norm,Norm,1Fam,1Story,10,5,2008,2009,Hip,CompShg,CemntBd,CmentBd,Stone,1224.0,Ex,TA,PConc,Ex,TA,Gd,GLQ,4010.0,Unf,0.0,1085.0,5095.0,GasA,Ex,Y,SBrkr,5095,0,0,5095,1.0,1.0,2,1,2,1,Ex,15,Typ,2,Gd,Attchd,2008.0,Fin,3.0,1154.0,TA,TA,Y,546,484,0,0,0,0,No Pool,No Fence,Elev,17000,10,2007,New,183850,-1,1,0.0,3

In [51]:
df[df['Age Remod/Add'] > 0]

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Heating,Heating QC,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,Age Sold,Age Remod/Add,Age Garage Blt,Age
0,109,533352170,60,RL,73.0,13517,Pave,no alley access,IR1,Lvl,AllPub,CulDSac,Gtl,Sawyer,RRAe,Norm,1Fam,2Story,6,8,1976,2005,Gable,CompShg,HdBoard,Plywood,BrkFace,289.0,Gd,TA,CBlock,TA,TA,No,GLQ,533.0,Unf,0.0,192.0,725.0,GasA,Ex,Y,SBrkr,725,754,0,1479,0.0,0.0,2,1,3,1,Gd,6,Typ,0,No Fireplace,Attchd,1976.0,RFn,2.0,475.0,TA,TA,Y,0,44,0,0,0,0,No Pool,No Fence,None,0,3,2010,WD,130500,34,29,0.0,35
1,544,531379050,60,RL,43.0,11492,Pave,no alley access,IR1,Lvl,AllPub,CulDSac,Gtl,SawyerW,Norm,Norm,1Fam,2Story,7,5,1996,1997,Gable,CompShg,VinylSd,VinylSd,BrkFace,132.0,Gd,TA,PConc,Gd,TA,No,GLQ,637.0,Unf,0.0,276.0,913.0,GasA,Ex,Y,SBrkr,913,1209,0,2122,1.0,0.0,2,1,4,1,Gd,8,Typ,1,TA,Attchd,1997.0,RFn,2.0,559.0,TA,TA,Y,0,74,0,0,0,0,No Pool,No Fence,None,0,4,2009,WD,220000,13,1,1.0,15
2,153,535304180,20,RL,68.0,7922,Pave,no alley access,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,5,7,1953,2007,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,Gd,CBlock,TA,TA,No,GLQ,731.0,Unf,0.0,326.0,1057.0,GasA,TA,Y,SBrkr,1057,0,0,1057,1.0,0.0,1,0,3,1,Gd,5,Typ,0,No Fireplace,Detchd,1953.0,Unf,1.0,246.0,TA,TA,Y,0,52,0,0,0,0,No Pool,No Fence,None,0,1,2010,WD,109000,57,54,0.0,58
3,318,916386060,60,RL,73.0,9802,Pave,no alley access,Reg,Lvl,AllPub,Inside,Gtl,Timber,Norm,Norm,1Fam,2Story,5,5,2006,2007,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,PConc,Gd,TA,No,Unf,0.0,Unf,0.0,384.0,384.0,GasA,Gd,Y,SBrkr,744,700,0,1444,0.0,0.0,2,1,3,1,TA,7,Typ,0,No Fireplace,BuiltIn,2007.0,Fin,2.0,400.0,TA,TA,Y,100,0,0,0,0,0,No Pool,No Fence,None,0,4,2010,WD,174000,4,1,1.0,5
4,255,906425045,50,RL,82.0,14235,Pave,no alley access,IR1,Lvl,AllPub,Inside,Gtl,SawyerW,Norm,Norm,1Fam,1.5Fin,6,8,1900,1993,Gable,CompShg,Wd Sdng,Plywood,None,0.0,TA,TA,PConc,Fa,Gd,No,Unf,0.0,Unf,0.0,676.0,676.0,GasA,TA,Y,SBrkr,831,614,0,1445,0.0,0.0,2,0,3,1,TA,6,Typ,0,No Fireplace,Detchd,1957.0,Unf,2.0,484.0,TA,TA,N,0,59,0,0,0,0,No Pool,No Fence,None,0,3,2010,WD,138500,110,93,57.0,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2041,1065,528166120,60,RL,110.0,13688,Pave,no alley access,IR1,Lvl,AllPub,Inside,Gtl,NridgHt,Norm,Norm,1Fam,2Story,9,5,2003,2004,Gable,CompShg,VinylSd,VinylSd,BrkFace,664.0,Gd,TA,PConc,Ex,TA,Av,GLQ,1016.0,Unf,0.0,556.0,1572.0,GasA,Ex,Y,SBrkr,1572,1096,0,2668,1.0,0.0,2,1,3,1,Ex,10,Typ,2,Gd,BuiltIn,2003.0,Fin,3.0,726.0,TA,TA,Y,400,0,0,0,0,0,No Pool,No Fence,None,0,3,2008,WD,412500,5,1,0.0,8
2042,2842,909101080,50,RL,45.0,8248,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,Edwards,Norm,Norm,1Fam,1.5Fin,4,4,1922,1950,Gable,CompShg,Wd Sdng,Wd Sdng,None,0.0,TA,TA,BrkTil,TA,TA,No,Unf,0.0,Unf,0.0,864.0,864.0,GasA,TA,N,SBrkr,964,0,450,1414,0.0,0.0,1,0,3,1,TA,8,Typ,1,Gd,No Garage,0.0,No Garage,0.0,0.0,No Garage,No Garage,N,0,0,112,0,0,0,No Pool,No Fence,None,0,9,2006,COD,83000,84,28,0.0,89
2043,2011,903227140,70,RM,50.0,6000,Pave,no alley access,Reg,Lvl,AllPub,Inside,Gtl,BrkSide,Norm,Norm,1Fam,2Story,6,6,1939,1950,Gable,CompShg,MetalSd,VinylSd,None,0.0,TA,TA,CBlock,TA,TA,Mn,Rec,276.0,Unf,0.0,324.0,600.0,GasA,Ex,Y,SBrkr,608,624,0,1232,0.0,0.0,1,1,3,1,TA,6,Typ,2,TA,Attchd,1939.0,Unf,1.0,217.0,TA,TA,Y,0,0,0,0,0,0,No Pool,GdWo,None,0,2,2007,WD,128000,68,11,0.0,72
2047,785,905377130,30,RL,67.0,12342,Pave,no alley access,IR1,Lvl,AllPub,Inside,Gtl,Edwards,Norm,Norm,1Fam,1Story,4,5,1940,1950,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,CBlock,TA,TA,No,BLQ,262.0,Unf,0.0,599.0,861.0,GasA,Ex,Y,SBrkr,861,0,0,861,0.0,0.0,1,0,1,1,TA,4,Typ,0,No Fireplace,Detchd,1961.0,Unf,2.0,539.0,TA,TA,Y,158,0,0,0,0,0,No Pool,No Fence,None,0,3,2009,WD,82500,69,10,21.0,71
2048,916,909253010,50,RL,57.0,7558,Pave,no alley access,Reg,Bnk,AllPub,Inside,Gtl,Crawfor,Norm,Norm,1Fam,1.5Fin,6,6,1928,1950,Gable,CompShg,BrkFace,Stone,None,0.0,TA,TA,BrkTil,TA,TA,No,Unf,0.0,Unf,0.0,896.0,896.0,GasA,Gd,Y,SBrkr,1172,741,0,1913,0.0,0.0,1,1,3,1,TA,9,Typ,1,TA,Detchd,1929.0,Unf,2.0,342.0,Fa,Fa,Y,0,0,0,0,0,0,No Pool,No Fence,None,0,3,2009,WD,177000,81,22,1.0,83

In [52]:
df[df['Age Garage Blt'] < 0]

Empty DataFrame
Columns: [Id, PID, MS SubClass, MS Zoning, Lot Frontage, Lot Area, Street, Alley, Lot Shape, Land Contour, Utilities, Lot Config, Land Slope, Neighborhood, Condition 1, Condition 2, Bldg Type, House Style, Overall Qual, Overall Cond, Year Built, Year Remod/Add, Roof Style, Roof Matl, Exterior 1st, Exterior 2nd, Mas Vnr Type, Mas Vnr Area, Exter Qual, Exter Cond, Foundation, Bsmt Qual, Bsmt Cond, Bsmt Exposure, BsmtFin Type 1, BsmtFin SF 1, BsmtFin Type 2, BsmtFin SF 2, Bsmt Unf SF, Total Bsmt SF, Heating, Heating QC, Central Air, Electrical, 1st Flr SF, 2nd Flr SF, Low Qual Fin SF, Gr Liv Area, Bsmt Full Bath, Bsmt Half Bath, Full Bath, Half Bath, Bedroom AbvGr, Kitchen AbvGr, Kitchen Qual, TotRms AbvGrd, Functional, Fireplaces, Fireplace Qu, Garage Type, Garage Yr Blt, Garage Finish, Garage Cars, Garage Area, Garage Qual, Garage Cond, Paved Drive, Wood Deck SF, Open Porch SF, Enclosed Porch, 3Ssn Porch, Screen Porch, Pool Area, Pool QC, Fence, Misc Feature, Misc Val, Mo Sold, Yr Sold, Sale Type, SalePrice, Age Sold, Age Remod/Add, Age Garage Blt, Age]
Index: []

For values where `Age Sold` is **less than** zero, it means the sale was done before the property was constructed. 
For values where `Age Sold` **is** zero, it means the sale was done the same year the property was constructed.
For values where `Age Sold` is **more than** zero, it means the sale was done after the property was constructed.

For values where `Age Remod/Add` **is** zero, it means the there were no remodleling or additions made after the construction.
For values where `Age Remod/Add` is **more than** zero, it means there was remodleling or additions made after the original construction of the property.

For values where `Age Garage Blt` **is** zero, it means that either there is no garage constructed, OR the garage is constructed in the same year as the `Year Built`. To fix this, we will create an interaction column with `Garage Qual` after we have encoded the values.
For values where `Age Garage Blt` is **more than** zero, it means the garage was built after the original construction of the property.

## Cleaning `Test` data

In [53]:
# creating custom function to basically repeat all the steps we took 
# on the train dataset, on the test dataset. This is to ensure that
# the data remains cleaned and any additions/removal of columns is 
# kept consistent.

# keeping comments to a minimum here to reduce the number of lines.

def clean_dataset(dataset):
    """This function basically repeats all the previously taken steps to clean the train data,
    IN THE SAME ORDER as taken in this notebook. If taken in a different order, there may be discrepancies."""
    
    # adding function to generate 'Lot Frontage' mean values.
    def generage_lot_frontage_mean(row):
        """Input required is a row of a DataFrame.
        Meant to be used in the '.apply' method with axis=1"""
        if np.isnan(row['Lot Frontage']):
            r_neighborhood = row['Neighborhood']
            r_neighborhood_mean = round(dataset.loc[dataset['Neighborhood'] == r_neighborhood, 'Lot Frontage'].mean(),0)

            if np.isnan(r_neighborhood_mean):
                r_pid = row['PID']
                search_term = '^'+str(r_pid)[0:4]+'.+'
                row['Lot Frontage'] = round(dataset.loc[dataset['PID'].astype(str).str.contains(fr'\b{search_term}\b'),'Lot Frontage'].mean(),0)
            else:
                row['Lot Frontage'] = r_neighborhood_mean
        return row
    
    dataset = dataset.apply(generage_lot_frontage_mean, axis=1)
    # handling missing data
    # basically repeating all the codes that we ran on the training dataset.
    dataset['Alley'].fillna('no alley access', inplace=True)
    dataset['Mas Vnr Type'].fillna('None', inplace=True)
    dataset['Mas Vnr Area'].fillna(0, inplace=True)
    dataset['Bsmt Qual'].fillna('No Basement', inplace=True)
    dataset['Bsmt Cond'].fillna('No Basement', inplace=True)
    dataset['Bsmt Exposure'].fillna('No Basement', inplace=True)
    dataset['BsmtFin Type 1'].fillna('No Basement', inplace=True)
    dataset['BsmtFin SF 1'].fillna(0, inplace=True)
    dataset['BsmtFin Type 2'].fillna('No Basement', inplace=True)
    dataset['BsmtFin SF 2'].fillna(0, inplace=True)
    dataset['Bsmt Unf SF'].fillna(0, inplace=True)
    dataset['Total Bsmt SF'].fillna(0, inplace=True)
    dataset['Bsmt Full Bath'].fillna(0, inplace=True)
    dataset['Bsmt Half Bath'].fillna(0, inplace=True)
    dataset['Fireplace Qu'].fillna('No Fireplace', inplace=True)
    dataset['Garage Type'].fillna('No Garage', inplace=True)
    dataset['Garage Yr Blt'].fillna(0, inplace=True) 
    # this is imputed as zero for now because adding text here will change the entire columns dtype.
    dataset['Garage Finish'].fillna('No Garage', inplace=True)
    dataset['Garage Cars'].fillna(0, inplace=True)
    dataset['Garage Area'].fillna(0, inplace=True)
    dataset['Garage Qual'].fillna('No Garage', inplace=True)
    dataset['Garage Cond'].fillna('No Garage', inplace=True)
    dataset['Pool QC'].fillna('No Pool', inplace=True)
    dataset['Fence'].fillna('No Fence', inplace=True)
    dataset['Misc Feature'].fillna('None', inplace=True)
    
    # checking for values where 'Garage Yr Blt' < 'Year Built'
    # then replacing the 'Garage Yr Blt' values with 'Year Built' values
    if len(dataset.loc[(dataset['Garage Yr Blt'] !=0) & 
       (dataset['Garage Yr Blt'] < dataset['Year Built']), 
       ['Year Built','Garage Yr Blt', 'Yr Sold']])>0:
        
        index_change_garage = dataset.loc[(dataset['Garage Yr Blt'] !=0) & 
                       (dataset['Garage Yr Blt'] < dataset['Year Built']), 
                       ['Year Built','Garage Yr Blt', 'Yr Sold']].index.tolist()

        for idx in index_change_garage:
            dataset.loc[idx, 'Garage Yr Blt'] = dataset.loc[idx, 'Year Built']
            
    # creating the same new columns    
    dataset['Age Sold'] = dataset['Yr Sold'] - dataset['Year Built']
    dataset['Age Remod/Add'] = dataset['Year Remod/Add'] - dataset['Year Built']
    dataset['Age Garage Blt'] = dataset['Garage Yr Blt'] - dataset['Year Built']
    df['Age'] = 2011 - df['Year Built']
    dataset.loc[dataset[dataset['Age Garage Blt'] < 0].index.tolist(),'Age Garage Blt'] = 0
    
    return dataset

In [54]:
test = clean_dataset(test)

### Final Check before moving on to Encoding and EDA

In [55]:
df.isnull().sum()

Id                 0
PID                0
MS SubClass        0
MS Zoning          0
Lot Frontage       0
Lot Area           0
Street             0
Alley              0
Lot Shape          0
Land Contour       0
Utilities          0
Lot Config         0
Land Slope         0
Neighborhood       0
Condition 1        0
Condition 2        0
Bldg Type          0
House Style        0
Overall Qual       0
Overall Cond       0
Year Built         0
Year Remod/Add     0
Roof Style         0
Roof Matl          0
Exterior 1st       0
Exterior 2nd       0
Mas Vnr Type       0
Mas Vnr Area       0
Exter Qual         0
Exter Cond         0
Foundation         0
Bsmt Qual          0
Bsmt Cond          0
Bsmt Exposure      0
BsmtFin Type 1     0
BsmtFin SF 1       0
BsmtFin Type 2     0
BsmtFin SF 2       0
Bsmt Unf SF        0
Total Bsmt SF      0
Heating            0
Heating QC         0
Central Air        0
Electrical         0
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
Bsmt Full Bath     0
Bsmt Half Bath     0
Full Bath          0
Half Bath          0
Bedroom AbvGr      0
Kitchen AbvGr      0
Kitchen Qual       0
TotRms AbvGrd      0
Functional         0
Fireplaces         0
Fireplace Qu       0
Garage Type        0
Garage Yr Blt      0
Garage Finish      0
Garage Cars        0
Garage Area        0
Garage Qual        0
Garage Cond        0
Paved Drive        0
Wood Deck SF       0
Open Porch SF      0
Enclosed Porch     0
3Ssn Porch         0
Screen Porch       0
Pool Area          0
Pool QC            0
Fence              0
Misc Feature       0
Misc Val           0
Mo Sold            0
Yr Sold            0
Sale Type          0
SalePrice          0
Age Sold           0
Age Remod/Add      0
Age Garage Blt     0
Age                0
dtype: int64

As all the train data has been cleaned, let's export this for EDA.

In [56]:
df.dtypes

Id                   int64
PID                  int64
MS SubClass          int64
MS Zoning           object
Lot Frontage       float64
Lot Area             int64
Street              object
Alley               object
Lot Shape           object
Land Contour        object
Utilities           object
Lot Config          object
Land Slope          object
Neighborhood        object
Condition 1         object
Condition 2         object
Bldg Type           object
House Style         object
Overall Qual         int64
Overall Cond         int64
Year Built           int64
Year Remod/Add       int64
Roof Style          object
Roof Matl           object
Exterior 1st        object
Exterior 2nd        object
Mas Vnr Type        object
Mas Vnr Area       float64
Exter Qual          object
Exter Cond          object
Foundation          object
Bsmt Qual           object
Bsmt Cond           object
Bsmt Exposure       object
BsmtFin Type 1      object
BsmtFin SF 1       float64
BsmtFin Type 2      object
BsmtFin SF 2       float64
Bsmt Unf SF        float64
Total Bsmt SF      float64
Heating             object
Heating QC          object
Central Air         object
Electrical          object
1st Flr SF           int64
2nd Flr SF           int64
Low Qual Fin SF      int64
Gr Liv Area          int64
Bsmt Full Bath     float64
Bsmt Half Bath     float64
Full Bath            int64
Half Bath            int64
Bedroom AbvGr        int64
Kitchen AbvGr        int64
Kitchen Qual        object
TotRms AbvGrd        int64
Functional          object
Fireplaces           int64
Fireplace Qu        object
Garage Type         object
Garage Yr Blt      float64
Garage Finish       object
Garage Cars        float64
Garage Area        float64
Garage Qual         object
Garage Cond         object
Paved Drive         object
Wood Deck SF         int64
Open Porch SF        int64
Enclosed Porch       int64
3Ssn Porch           int64
Screen Porch         int64
Pool Area            int64
Pool QC             object
Fence               object
Misc Feature        object
Misc Val             int64
Mo Sold              int64
Yr Sold              int64
Sale Type           object
SalePrice            int64
Age Sold             int64
Age Remod/Add        int64
Age Garage Blt     float64
Age                  int64
dtype: object

In [57]:
df.to_csv('datasets/train_cleaned.csv', index=False)
test.to_csv('datasets/test_cleaned.csv', index=False)

Next we will proceed with EDA, Encoding and Feature Engineering in the next notebook.
It seems like we are taking a lot of steps at the same time, however this is because it is easier to make all the changes to the dataset at once, instead of in multiple notebooks.